<html xmlns:th="https://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link th:href="@{/styles/css/hoverable-dropdown.css}" rel="stylesheet">
<title>PTM</title>
</head>
<body>
${#request.getContextPath()}<br>
<div th:insert="~{header :: copy}"></div>
	<!-- Home button start -->
	<span class="dropbtn">
		<a th:href="@{/}">Home</a>
	</span>
	<!-- Home button end -->
	
	<!-- Customized buttons based on user privileges start -->
	<span th:each="mainMenu : ${session.userDetailVO.userRole}"> 
		<span class="dropdown">
			<button class="dropbtn">[[${mainMenu.menuName}]]</button>
				<span class="dropdown-content"> 
					<a th:each="subMenu : ${mainMenu.subMenuList}"
						th:href="@{${subMenu.subMenuUrl}(action=${subMenu.actionKey})}">[[${subMenu.subMenuName}]]</a>
				</span>
		</span>
	</span>
	
	<!-- Customized buttons based on user privileges end -->

	<!-- sample start -->
	<!-- <div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div class="dropdown-content">
		<a href="#">Link 1</a>
		<a href="#">Link 2</a>
		<a href="#">Link 3</a>
	</div>
</div> -->
	<!-- sample end -->
</body>
</html>