<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PTM</title>
<script type="text/javascript">
function validatePassword() {
	var pwd = document.getElementById("password");
	var repwd = document.getElementById("repassword");
	console.log(pwd.value);
	console.log(repwd.value);
	if(pwd.value == repwd.value) {
		return true;
	}else {
		alert("Password and re-password didn't match. please re enter.");
		pwd.value=null;
		repwd.value=null;
		return false;
	}
}
</script>
<style>
.error {
	color: red;
	font-weight: bold;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PTM</title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div align="center" class="error">
		${msg}
		<form:form action="/ptm/public/updatePassword" method="post"
			modelAttribute="loginVO" onsubmit="return validatePassword();">
			<table>
				<tr>
					<td><input type="hidden" name="id" value="${loginVO.id}"></td>
					<td></td>
				</tr>
				<tr>
					<td><label for="password">Password : </label></td>
					<td><input type="text" name="password" id="password"
						placeholder="password" required="required" /></td>
					<td><form:errors path="id" cssClass="error" /></td>
				</tr>
				<tr>
					<td><label for="repassword">Re enter Password </label></td>
					<td><input type="text" name="repassword" id="repassword"
						placeholder="re type password" required="required" /></td>
					<td><form:errors path="password" cssClass="error" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form:form>
	</div>
</body>
</html>