<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PTM</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link
	href="@${/}/viewFriends/cssbank/table-ev-odd.css"
	rel="stylesheet" type="text/css">
<script type="text/javascript">
function submitForm(action) {
	var frm = document.getElementById('empForm');
	frm.action = action;
	alert(frm);
	var hid = document.getElementById('action');
	hid.value = action;
}
</script>
<title>EmployeePersonal</title>
</head>
<body>
	
	<br>
	<h3 style="text-align: center;">EmployeePersonal home page..</h3>
	<div style="text-align: center; color: blue; font-weight: 30 px">${msg}</div>
	<br>
	<span> <c:url var="addEmployeePersonal"
			value="${empSave.subMenuUrl}">
			<c:param name="action" value="${empSave.actionKey}" />
		</c:url> <a href="${addEmployeePersonal}" style="${subMenuCSS.actionSave}">${empSave.subMenuName}</a>
	</span>
	<span> <c:url var="resetPassword"
			value="${empResetPassword.subMenuUrl}">
			<c:param name="action" value="${empResetPassword.actionKey}" />
		</c:url> <a href="${resetPassword}" style="${subMenuCSS.actionResetPassword}">${empResetPassword.subMenuName}</a>
	</span>
	<span> <c:url var="delete" value="${empDelete.subMenuUrl}">
			<c:param name="action" value="${empDelete.actionKey}" />
		</c:url> <a href="${delete}" style="${subMenuCSS.actionDelete}">delete</a>
	</span>
	<table id="t1" style="width: 50%">
		<caption>EmployeePersonal List</caption>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Designation Id</th>
			<th>Designation</th>
			<c:if var="hasUpdateRole" test="${empUpdate.subMenuUrl != null}">
				<th>Action</th>
			</c:if>
			<c:if var="hasDeleteRole" test="${empUpdate.subMenuUrl != null}">
				<th>Action</th>
			</c:if>
		</tr>
		<c:forEach var="employee" items="${employeeList}">
			<tr align="center">
				<td>${employee.id}</td>
				<td>${employee.displayName}</td>
				<td>${employee.designationId}</td>
				<td>${employee.designation}</td>
				<c:if test="${hasUpdateRole}">
					<c:url var="update" value="${empUpdate.subMenuUrl}">
						<c:param name="id" value="${employee.id}" />
						<c:param name="action" value="${empUpdate.actionKey}" />
					</c:url>
					<td><a href="${update}">update</a></td>
				</c:if>
				<c:if test="${hasDeleteRole}">
					<c:url var="delete" value="${empDelete.subMenuUrl}">
						<c:param name="id" value="${employee.id}" />
						<c:param name="action" value="${empDelete.actionKey}" />
					</c:url>
					<td><a href="${delete}">delete</a></td>
				</c:if>
			</tr>
		</c:forEach>
	</table>
</body>
</html>