<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/css/main.css}"/>
    <script type="text/javascript" th:src="@{/styles/js/actions.js}"></script>
   </head>
  <body>
    <h1>Login page</h1>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{/login}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="id" th:value="${loginVO.id}" placeholder="Employee id" autofocus="autofocus" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" th:value="${loginVO.password}" placeholder="password"/> <br />
      <input type="submit" value="Log in" />
    </form>
    <button type="button" th:onclick="showAlert()">Show Alert</button>
   </body>
</html>